
body{
  display: flex;
  justify-content: center;
  align-items: center; 
}
.feedback-div{
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: rgb(208, 239, 198);
  box-shadow: 0 4px 10px  rgb(208, 239, 198);
  height: 970px;
  width: 1100px;
}
.form-container{
    margin-top: 40px;
    margin-left: 60px;
}
.card-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px  rgb(208, 239, 198);
  width: 900px;
  height: 900px;
  text-align: left;
}
header{
    background-color: rgb(48, 176, 31);
    width: 100%;
    height: 100px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-decoration: underline;
}
label {
  display: block;
  font-weight:500;
  margin-top: 15px;
  margin-bottom: 5px;
}
.name-fields {
  display: flex;
  gap: 10px;
  width: 90%;
}

input[type="text"],
input[type="email"],
textarea {
  width: 90%; 
  padding: 10px; 
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  resize: none;
}

.rating{
    margin-top:10px;
}

.checkbox {
  margin: 10px;
  align-items: center;
  display: flex;
  gap:10px;
}

button {
  width: 90%;
  background-color: rgb(48, 176, 31);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  transform: scale(1.05);
}
