*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

header{
    top: 0;
    left: 0;
    height: 120px;
    width: 100%;
    background-color: rgb(7, 35, 88);
    color: white;
    display: flex;
    padding-right: 30px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}       
nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    justify-content:space-between;
    margin-left: 80px;
}
nav a:hover {
      background-color: white;
      color: black;
      border-radius: 4px;
}
.head{
    display: flex;
    margin-left: 30px ;
}
#name{
    margin-left: 50px;
    margin-top: 10px;
}

body{
    padding-top: 120px;
    padding-bottom: 120px;
    background: linear-gradient(to bottom, rgba(170, 197, 234, 0.993), #ffffff);
}
.container{
    height: 650px; 
    width: 1300px;
    /* border:3px solid rgb(7, 35, 88); */
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 450px;
    background-color: azure;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.container p{
    text-align: center;
    font-size: 20px;
    padding-top: 40px;
    font-weight: bold;
}
.container:hover{
  transform: scale(1.05);
}
.table-container{
    margin-top: 40px;
    margin-left: 120px;
}
.p{
    margin-top: 20px;
}
footer{
    background-color: rgb(7, 35, 88);
    color: white;
    height: 120px;
    align-items: center;
    padding-top: 40px;
    text-align: center;
    margin-top: 308px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
table {
  width: 90%;               
  border-collapse: collapse; 
}

th, td {
  border: 1px solid black;  
  padding: 15px;            
  text-align: center; 
  font-size: 18px;      
}

th {
  background-color: rgb(7, 35, 88); 
  color: white;             
}

tr:nth-child(even) {
  background-color: #f2f2f2; 
}
tr:nth-child(odd){
  background-color: gainsboro;
}

tr:hover {
  background-color: aliceblue;
}


@media (max-width: 780px) {

    header {
        height: auto;
        padding: 10px;
        flex-direction: column;
        text-align: center;
        position: fixed;
    }

    #logo img {
        height: 70px;
    }

    #name h1 {
        font-size: 18px;
        line-height: 22px;
        margin-left: 0;
    }

    nav {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    nav a {
        margin-left: 0;
        font-size: 14px;
        padding: 5px 10px;
    }

    body {
        padding-top: 120px;   /* Header height ke hisab se */
        /* padding-bottom: 20px; Footer overlap avoid */
    }

    /* Container Responsive */
    .container {
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
    }

    .container p {
        font-size: 16px;
        padding: 20px;
    }

    .table-container {
        margin-left: 0;
        width: 100%;
        overflow-x: auto; /* Mobile me table scroll ho sake */
    }

    table {
        width: 100%;
        font-size: 14px;
    }

    th, td {
        padding: 10px;
        font-size: 14px;
    }

     footer{
        height: auto;
        padding: 20px;
        margin-top: 40px;
    }

    footer h3 {
        font-size: 14px;
    }
}
